@model PC_Part_picker.Models.Build


@{
    ViewData["Title"] = "Create build";
}
<h1>Create build</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Part
            </th>
            <th>
                Selected
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                CPU
            </td>
            <td>
                @if (Model != null && Model.Cpu != null && !String.IsNullOrEmpty(Model.Cpu.Name))
                {
                    @Html.DisplayFor(model => Model.Cpu.Name)

                }
                else
                {
                    <a asp-controller="Builds" asp-action="CpuList">Choose CPU</a>
                }
            </td>
            <td>
                @Html.DisplayFor(model => Model.Cpu.Price)
            </td>
        </tr>

        <tr>
            <td>
                CPU Cooler
            </td>
            <td>
                
                @if (Model != null && Model.Cooler != null && !String.IsNullOrEmpty(Model.Cooler.Name))
                {
                    @Html.DisplayFor(model => Model.Cooler.Name)

                }
                else
                {
                <a asp-controller="Builds" asp-action="CoolerList">Choose CPU Cooler</a>
                }
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                Motherboard
            </td>
            <td>
                @if (Model != null && Model.Motherboard != null && !String.IsNullOrEmpty(Model.Motherboard.Name))
                {
                    @Html.DisplayFor(model => Model.Motherboard.Name)

                }
                else
                {
                <a asp-controller="Builds" asp-action="MotherboardList">Choose Motherboard</a>
                }
                
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>