@model PC_Part_picker.Models.Build


@{
    ViewData["Title"] = "Create build";
}
<h1>Create build</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Part
            </th>
            <th>
                Selected
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Builds" asp-action="CpuList">CPU</a>
            </td>
            <td>
      

                <a asp-controller="Builds" asp-action="CpuList">Choose CPU</a>
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <a asp-controller="Builds" asp-action="CpuCoolerList">CPU Cooler</a>
            </td>
            <td>
                <a asp-controller="Builds" asp-action="CpuCoolerList">Choose CPU Cooler</a>
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <a asp-controller="Builds" asp-action="MotherboardList">Motherboard</a>
            </td>
            <td>
                <a asp-controller="Builds" asp-action="MotherboardList">Choose Motherboard</a>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>