@model IEnumerable<PC_Part_picker.ViewModels.CompatibilityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>First Part Name</th>
            <th>Second Part Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Compatibilities", new {id = item.Compatibility.Id}))
            {
                var myModal = "myModal" + item.Compatibility.Id;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstPart.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondPart.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Compatibility.Id">Edit</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@myModal">Delete</button>
                        <!-- Modal -->
                        <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header" style="display: block">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                </div>
                                <div class="modal-body">Are you sure you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


